/* reset margin, padding */
body {
  margin: 0 !important;
  padding: 0 !important;
}

.red {
  border: 1px solid red;
}

.green {
  border: 1px solid green;
}

.banner {
  background: url("./banner.jpg") center center no-repeat;
  height: 500px;
  padding: 20px;
}
.banner .about-sign-in {
  height: 80px;
  width: 100%;
  text-align: right;
  font-family: Roboto;
  font-size: 12px;
}
.banner .about, .banner .sign-in {
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  padding: 10px 15px;
  text-transform: uppercase;
}
.banner .sign-in {
  margin-right: 60px;
  margin-left: 25px;
  border: 2px solid #8bc34a;
  border-radius: 100px;
  color: #8bc34a;
  text-align: center;
}
.banner .logo {
  background: url("./hapoERP.png") center center no-repeat;
  height: 100px;
  margin-top: 40px;
}
.banner .content-center .left, .banner .content-center .right, .banner .content-center .center {
  display: inline-block;
  width: 33%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.banner .content-center .text-below-icon {
  display: block;
  font-size: 20px;
}
.banner .btn-start-now {
  text-align: center;
}
.banner .btn-start-now button {
  text-transform: capitalize;
  margin-top: 5px;
  padding: 10px 15px;
  margin-top: 25px;
  border: 1px solid green;
  border-radius: 20px;
  /* Clicking the button will display a hand icon */
  cursor: pointer;
  background: #8bc34a;
  color: white;
}
.banner img {
  width: 50px;
  height: 50px;
}

.banner .text{
    text-align: center;
    color: green;
}
